@media (min-width:100px) and (max-width:991px) {
    img{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
html {
    scroll-behavior: smooth;
}

nav {
    /* background-color: #003E7E; */
    background-color: white;
    width: 100%;
}

a {
    margin: 0;
    font-family: 'Sen';
}

.headerBtn {
    margin: 0;
    color: #003E7E;
    font-size: large;
    
    font-weight: bold;
    width: auto;
    text-decoration: none;
}

.navbar-toggler.headerBtn{
    transition: all 0.2s;
}

.headerBtn:hover {
    color: grey;
    cursor: pointer;
}

.navbarButtons{
    justify-content:space-evenly;
}

.padded {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-lg-4 a{
    font-size: 22px;
}
@media (min-width:100px) and (max-width:991px) {
    .col-lg-4 {
        justify-content: left;
        align-items: left;
    }
    .col-lg-4 a{
        font-size: 20px;
    }
}

ul {
    list-style-type: none;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    max-width: 200px;
}
.logo{
    margin-left: 20px;
}
