<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-dark ">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()"  data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa fa-bars" style="color: #003E7E;"></i>
      </span>
    </button>
    <div class="logo">
      <img loading="lazy" src="./assets/logo_transparent.png" style="color: white;">
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngClass]="{ 'show': navbarOpen }">
      <div class="padded">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <i class="fa fa-info"  style="color: #003E7E; margin-right: 5px;"></i>
              <a class="headerBtn" (click)="navigateToSection('about')">About us</a>
              <span class="divider"></span>
            </div>
            <div class="col-lg-4">
              <i class="fa fa-map" style="color: #003E7E; margin-right: 5px;"></i>
              <a class="headerBtn" (click)="navigateToSection('branches')">Our Branches</a>
              <span class="divider"></span>
            </div>
            <div class="col-lg-4">
              <i class="fa fa-id-card" style="color: #003E7E; margin-right: 5px;"></i>
              <a class="headerBtn" (click)="navigateToSection('footer')">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</nav>
