<div class="parentCentered" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="centered">
                    <div>
                        <h1>About Us</h1>
                        <p>The Medicine Shoppe® Pharmacy/riverside is participating at Medicine Shoppe chain
                            pharmacy, which is one of the largest chain pharmacies in the USA that strive to make it
                            convenient for people to live a healthy life.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="./assets/MSImage1.jpg">
            </div>
        </div>
    </div>
</div>