<div class="parentCentered" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="centered">
                    <div>
                        <h1>About Us</h1>
                        <p>The Medicine Shoppe® Pharmacy/riverside is participating at Medicine Shoppe chain
                            pharmacy, which is one of the largest chain pharmacies in the USA that strive to make it
                            convenient for people to live a healthy life.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <img loading="lazy" class="ratio ratio-16x9" src="./assets/aboutUs.jpg">
            </div>
        </div>
    </div>
</div>

<div class="parentCentered" id="about">
    <div class="container">
        <div class="row" style="flex-direction: row-reverse;">
            <div class="col-md-7">
                <div class="oneLineCentered">
                    <div class="revDiv">
                        <h1>Vision</h1>
                        <p style="margin-right: 0%;">To be dedicated to the wellbeing of
                            the community.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img loading="lazy" class="ratio ratio-16x9" src="./assets/vision.jpg">
            </div>
        </div>
    </div>
</div>

<div class="parentCentered" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="centered">
                    <div>
                        <h1>Our Services</h1>
                        <p>We offer services such as
                            immunizations, medication therapy
                            management, multi-dose packaging,
                            medication synchronization,
                            important health screenings, and
                            expert care.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img loading="lazy" class="ratio ratio-16x9" src="./assets/services.jpg">
            </div>
        </div>
    </div>
</div>

<div class="parentCentered" id="about">
    <div class="container">
        <div class="row" style="flex-direction: row-reverse;">
            <div class="col-md-7">
                <div class="centered">
                    <div class="revDiv">
                        <h1>Delivery</h1>
                        <p>For patients who need to refill their
                            medications but may not have the
                            means to travel, The Medicine
                            Shoppe® is proud to offer delivery
                            services for your convenience.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img loading="lazy" class="ratio ratio-16x9" src="./assets/delivery.png">
            </div>
        </div>
    </div>
</div>