div {
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#covidBtn {
    cursor: pointer;
    text-decoration: underline;
}

#covidBtn:hover{
    color: lightgrey;
}