<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="./assets/MedicineShopLogo.png" alt="Logo" width="200" height="150">
                <h1>Title (name of branch)</h1>        
            </div>
            <div class="col-md-8">
                <h1>Location:&nbsp;</h1>
                <h2>Branch Name</h2>
                <p>Beet... this is a paragraph.. law makontesh 3aref ya3ni :D</p>
            </div>
        </div>
    </div>
    <!-- <div>
        <img src="./assets/MedicineShopLogo.png" alt="Logo" width="200" height="150">
        <h1>Title (name of branch)</h1>
    </div>
    <div class="emptyColumn">

    </div>
    <div class="column">
        <h1>Location:&nbsp;</h1>
        <h2>Branch Name</h2>
        <p>Beet... this is a paragraph.. law makontesh 3aref ya3ni :D</p>
    </div> -->
</div>
