.parentCentered {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.centered {
    max-width: 400px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
}

img {
    border-radius: 10px;
    max-width: 100%;
}