<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="parentCentered">
    <div class="centered">
        <img [src]="photosource">
        <h1>{{name}}</h1>
        <div style="display: flex;">
            <i class="fa fa-location-arrow" style="margin-right: 5px;"></i>
            <p>Address: {{address}}</p>
        </div>
        <button type="button" class="btn btn-primary" (click)="gotoLink()" [disabled]="disabled" style="display: flex;">
            <mat-icon style="margin-right: 3px;">language</mat-icon>
            Website
        </button>
    </div>
</div>