.parentCentered {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    /* align-items: center; */
}

.centered {
    max-width: 400px;
    min-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.address {
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Dosis';
    font-size: 1.75rem;
}
button {
    /* position: absolute; */
    transform: translate(0, -20px);
}

.btn1{
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background-color: #0056d2;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 12px 32px;
    border: 2px solid #0056d2;
    font-size: 20px;
}
.btn1:hover{
    background-color: #00419E;
}
.btn1:disabled{
    background-color: whitesmoke;
    color: #0056d2;
}
.btn1:disabled:hover{
    background-color: #F6E4F6;
}
img {
    border-radius: 10px;
    max-width: 100%;
    width: 500px;
    height: 300px;
    margin-bottom: 10px;
}

h1{
    font-weight: bold;
    text-align: center;
    margin: 0;
    white-space: pre-wrap;
}

p {
    margin: 0;
    font-family: 'Quicksand';
}

.btn{
    border-radius: 12px;
    background-color: blue;
    border-color: transparent;
    width: 180px;
    justify-content: center;
}

.stuckTogether{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}