body{
    width: 100%;
    margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    margin-top: 30PX;
    margin-bottom: 30px;
}

.customCarousel {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    color: white;
}

h1{
    font-size: 8vw; 
    width: 100%; 
    font-weight: bold; 
    font-family: "Cairo" , sans-serif;
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%,-50%);
}

.customCards {
    display: flex;
    flex-direction: column;
    margin: 0;
}