<!-- <body>
    <p>test</p>
</body> -->
<app-covid></app-covid>
<!-- <app-navbar></app-navbar> -->
<app-header></app-header>
<!-- <div class="centered">
    <div class="customCarousel">
    </div>
</div> -->
<div class="customCarousel">
    <app-carousel></app-carousel>
</div>
<app-about></app-about>
<div class="centered">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <app-branch></app-branch>
            </div>
            <div class="col-xs-12">
                <app-branch></app-branch>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- <app-our-page></app-our-page> -->